# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# Assets downloaded from S3
s3_assets/

# logs
*.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
