# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# VSCode settings
.vscode/settings.json

# Assets and content downloaded from S3
/src/assets/*
!/src/assets/.gitkeep
/src/content/*
!/src/content/config.ts

# logs, shell scripts
*.log*
*.sh

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
