---
import Layout from '@layouts/Layout.astro';
import Shadow from '@components/Shadow.astro';
import OptimizedPhoto from '@components/OptimizedPhoto.astro';
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const photos = await getCollection("photos");
const categories = await getCollection("photo_categories");

const categoriesById = new Map<string, CollectionEntry<'photo_categories'>>();
const photosByCategoryId = new Map<string, Array<CollectionEntry<'photos'>>>();

categories.forEach(async category => {
	categoriesById.set(category.id, category);
	photosByCategoryId.set(category.id, photos.filter(photo => photo.data.category.id === category.id));
});

---
<Layout title="Photography">
	<div class="flex flex-wrap content-center justify-center gap-6">
		{categories.map((category) =>
			<a class="max-w-md" href={`/fotos/${category.id}/`}>
				<Shadow>
					<div class="relative group">
						{/* max-w-md is 28rem max, so use that for image size */}
						<OptimizedPhoto image={category.data.coverImage} alt={category.data.imageDescription} sizes="28rem" extraClass="aspect-square dark:brightness-95" />
						<div class="absolute inset-y-1/2 w-full pointer-events-none">
							<div class="backdrop-blur-lg text-slate-50 group-hover:text-white dark:text-slate-100 bg-black/15 p-3">
								<h1 class="line-clamp-2 text-ellipsis font-mono font-bold sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl text-center group-hover:underline">{category.data.title}</h1>
							</div>
						</div>
					</div>
				</Shadow>
			</a>
		)}
	</div>
</Layout>

