---
import Layout from '@layouts/Layout.astro';
import confusedTravoltaWebm from '@assets/pages/404/404-confused_travolta.webm';
import confusedTravoltaMp4 from '@assets/pages/404/404-confused_travolta.mp4';
---
<Layout title="404: Não encontrado">
	<div class="text-center">
		<h1 class="font-mono text-4xl">404: <strong>Não encontrado</strong></h1>
		<div class="max-w-prose p-3">
			<video class="rounded-xl shadow-xl" muted loop autoplay playsinline disablepictureinpicture>
				<source src={confusedTravoltaWebm} type="video/webm">
				<source src={confusedTravoltaMp4} type="video/mp4">
				<p>(<a href="https://knowyourmeme.com/memes/confused-travolta" class="hover:underline text-blue-500 dark:text-blue-400 visited:text-purple-600 dark:visited:text-purple-400">Esse vídeo</a> devia aparecer aqui.)</p>
			</video>
		</div>
		<p class="text-lg">O que estava procurando? Eu não encontrei...</p>
	</div>
</Layout>
