---
import Layout from '@layouts/Layout.astro';
import confusedTravoltaWebm from '@assets/pages/404/404-confused_travolta.webm';
import confusedTravoltaMp4 from '@assets/pages/404/404-confused_travolta.mp4';
---
<Layout>
	<div class="text-center">
		<h1 class="font-mono text-4xl">404: <strong>Not found</strong></h1>
		<div class="max-w-prose p-3">
			<video class="rounded-xl shadow-xl" muted loop autoplay playsinline disablepictureinpicture>
				<source src={confusedTravoltaWebm} type="video/webm">
				<source src={confusedTravoltaMp4} type="video/mp4">
				<p>(<a href="https://knowyourmeme.com/memes/confused-travolta" class="hover:underline text-blue-500 dark:text-blue-400 visited:text-purple-600 dark:visited:text-purple-400">this video</a> was supposed to be displayed here)</p>
			</video>
		</div>
		<p class="text-lg">What are you looking for? I can't find it...</p>
	</div>
</Layout>
