---
import Layout from '@layouts/Layout.astro';
---
<Layout>
	<h1 class="font-mono font-bold text-3xl mb-2">Hello! 🥰</h1>
	<p>My name is Rafael. I love my cats, photography and enjoying life with my significant other.</p>
	<p class="hidden dark:inline">I prefer programming in light mode.</p>
	<p class="mt-4">If you need to reach me, I've got <span class="font-mono">@<u>rflsms</u></span> or <span class="font-mono">@<u>rafaelsms</u></span> usernames in many places online.</p>
	<p class="mt-4">You can check out some of my photos or my resumé in the links above.</p>
</Layout>

