---
import { Image, Picture } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import PictureLoader from '@components/PictureLoader.astro';
import dinho from '@assets/external/pages/photos/dinho.jpg';
---
<Layout title="Photography">
	<div class="max-w-prose p-3">
		<PictureLoader image={dinho} />
	</div>
</Layout>

