---
import Layout from "@layouts/Layout.astro";
import CvTable from "@components/CvTable.astro";

const educationEntries = [
	{
		title: "2023 - today",
		content:
			"B.Sc. in <strong>Data Science</strong> at <strong>Univesp</strong>"
	},
	{
		title: "2017 - 2022",
		content:
			"B.Sc. in <strong>Computer Engineering</strong> at <strong>Unicamp</strong>",
		description:
			'Completed 217 out of 240 <a href="https://en.wikipedia.org/wiki/Universities_and_higher_education_in_Brazil#:~:text=There%20is%20no%20unified%20academic,to%2050%2D80%20US%20credits." target="_blank" class="hover:underline text-blue-500 dark:text-blue-400 visited:text-purple-600 dark:visited:text-purple-400">credits</a>.'
	},
	{
		title: "2012 - 2014",
		content: "High school at <strong>Colégio Anglo Araraquara</strong>"
	}
];

const experienceEntries = [
	{
		title: "aug/2022 - today<br>" + "nov/2021 - jul/2022",
		content:
			"<strong>Software Analyst Trainee</strong> at <strong>Instituto de Pesquisa Eldorado</strong><br>" +
			"<strong>Software Developer Intern</strong> at <strong>Motorola Mobility</strong>",
		description:
			"Development of tools that are deployed on the web using Google Cloud Platform. On the back-end, it uses Java with Spring, Hibernate and Google Cloud SDK frameworks. On the front-end, mainly AngularJS and Angular."
	},
	{
		title: "sept/2020 - jan/2021<br>" + "jul/2018 - dec/2018",
		content: "<strong>Monitor</strong> at <strong>Unicamp</strong>",
		description:
			"Helped students to learn data structures, to develop using C and Python."
	},
	{
		title: "2017 - nov/2021",
		content: "<strong>Independent Web Developer</strong>",
		description:
			"Developed and mantained a few websites which the back-end was developed in Python using the Django framework and the front-end using Bootstrap (Javascript/CSS framework)."
	},
	{
		title: "2012 - 2015",
		content:
			"<strong>Developer and server administrator</strong> of a successful <strong>Minecraft server</strong>",
		description:
			"I developed many modifications to the game server to improve gameplay and entertain players. Peaking at more than 500 players concurrently, all database interaction needed to be non-blocking or have very low latency (sub-millisecond), as the entire server tick should not exceed 1/20th of a second to process the actions of all the players and non-players."
	}
];

const languageSkillEntries = [
	{
		title: "Technologies",
		content:
			"Java, C, Python, Javascript<br>" +
			"Google Cloud, AWS, GNU/Linux, git, Gradle"
	},
	{
		title: "Languages",
		content:
			"Brazilian Portuguese (mother tongue), English (FCE &mdash; B2 First)"
	},
	{
		title: "Hobbies",
		content: "Photography, movies and series, a little bit of gaming"
	}
];
---

<Layout title="Resumé">
	<h1 class="font-mono font-bold text-3xl mb-3">Education 📚</h1>
	<CvTable entries={educationEntries} />

	<h1 class="font-mono font-bold text-3xl mb-3">Experiences 🧑‍💻</h1>
	<CvTable entries={experienceEntries} />

	<h1 class="font-mono font-bold text-3xl mb-3">Languages, skills 💪</h1>
	<CvTable entries={languageSkillEntries} />
</Layout>
